/* Dormant Dashboard Styling */
.dormant-container {
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 15px;
    padding: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 32%;
}

/* Active Dashboard Styling */
.dashboard-container {
    margin: auto;
    margin-top: 5%;
    background-color: white;
    border-radius: 15px;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
}

.single-card-container {
    display: inline-block;
    margin-left: 10px;
    width: fit-content;
}

.all-cards-container {
    width: fit-content;
    justify-content: left;
}